meta(charset='utf8')
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
link(rel="canonical", href="http://fullweb.io")

meta(name="description", content="The newsletter for fullstack engineers. The 5 best links every week about: Web Frontend, Backend Development, DevOps Processes and User Experience")
meta(name="keywords", content="Full-stack developer, Web development, Newsletter, DevOps")
link(rel="author", href="/humans.txt")

meta(name='twitter:card', content='summary')
meta(name='twitter:description', content='The newsletter for fullstack engineers. The 5 best links every week about: Web Frontend, Backend Development, DevOps Processes and User Experience')
meta(name='twitter:title', content='Fullweb Weekly')
meta(name='twitter:site', content='@fullwebio')
meta(name='twitter:url', content='http://fullweb.io')
meta(name='twitter:image', content='https://raw.githubusercontent.com/nepsilon/fullweb.io/gh-pages/public/static/fullweb-logo.png')

meta(property="fb:app_id", content="782738411843885")
meta(property='og:locale', content='en_US')
meta(property='og:type', content='article')
meta(property='og:title', content='Fullweb Weekly')
meta(property='og:description', content='The newsletter for fullstack engineers. The 5 best links every week about: Web Frontend, Backend Development, DevOps Processes and User Experience')
meta(property='og:url', content='http://fullweb.io')
meta(property='og:image', content='https://raw.githubusercontent.com/nepsilon/fullweb.io/gh-pages/public/static/fullweb-logo.png')


//link(rel="search", type="application/opensearchdescription+xml", href="/opensearch.xml", title="")
link(rel="alternate", type="application/rss+xml", title="Fullweb Weekly", href="http://us11.campaign-archive1.com/feed?u=8e9d09ec89c0c4ededef3beab&id=b98e776907")
//link(rel='shortlink', href='')
//link(rel="icon", type="image/png", href="/static/favicon.png")
