meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="description", content="")
// Baidu.com still uses this for its ranking (!?)
meta(name="keywords", content="")

// Google+: http://www.google.com/webmasters/tools/richsnippets
//link(rel="author",href="https://plus.google.com/<Your personal G+ profile here>")

// Twitter: https://dev.twitter.com/docs/cards/validation/validator
//meta(name='twitter:card', content='summary')
//meta(name='twitter:description', content='')
//meta(name='twitter:title', content='')
//meta(name='twitter:site', content='')
//meta(name='twitter:domain', content='')
//meta(name='twitter:image:src', content='')
//meta(name='twitter:creator', content='')

// Facebook: https://developers.facebook.com/tools/debug
//meta(property='og:locale', content='en_US')
//meta(property='og:type', content='article')
//meta(property='og:title', content='')
//meta(property='og:description', content='')
//meta(property='og:url', content='')
//meta(property='og:site_name', content='')
//meta(property='article:publisher', content='')
//meta(property='article:section', content='')
//meta(property='og:image', content='')

// Misc
//link(rel="search", type="application/opensearchdescription+xml", href="/opensearch.xml", title="")
//link(rel="alternate", type="application/rss+xml", title="", href="")
//link(rel='shortlink', href='')
