@media screen {
  /* sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
  pre,
  textarea {
    overflow: auto;
  }
  [hidden],
  audio:not([controls]),
  template {
    display: none;
  }
  details,
  main,
  summary {
    display: block;
  }
  input[type=number] {
    width: auto;
  }
  input[type=search] {
    -webkit-appearance: textfield;
  }
  input[type=search]::-webkit-search-cancel-button,
  input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  progress {
    display: inline-block;
  }
  small {
    font-size: 80%;
  }
  textarea {
    resize: vertical;
  }
  [unselectable] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  *,
  ::after,
  ::before {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
  }
  * {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  ::after,
  ::before {
    text-decoration: inherit;
    vertical-align: inherit;
  }
  :root {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: default;
    font: 400 16px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
  }
  a {
    text-decoration: underline;
  }
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  button,
  input,
  select,
  textarea {
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    min-height: 1.5em;
    box-shadow: none;
  }
  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace;
  }
  nav ol,
  nav ul {
    list-style: none;
  }
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  select::-ms-expand {
    display: none;
  }
  select::-ms-value {
    color: currentColor;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  ::-moz-selection {
    background-color: #b3d4fc;
    text-shadow: none;
  }
  ::selection {
    background-color: #b3d4fc;
    text-shadow: none;
  }
  h1,
  h2,
  h3,
  h4,
  h6,
  p,
  cite,
  blockquote {
    margin: 0;
    padding: 0;
    line-height: inherit;
    color: inherit;
  }
  ul,
  ol {
    list-style: none;
  }
  strong,
  bold {
    font-weight: 600;
  }
  body {
    font: 400 0.9375rem/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  h1 {
    line-height: 1;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  h2 {
    line-height: 1.25;
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }
  p {
    margin-bottom: 1rem;
  }
  p+h1,
  p+h2,
  p+h3 {
    margin-top: 2rem;
  }
@-webkit-keyframes bounceOutDown {
    20% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
    40%, 45% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate3d(0, 2000px, 0);
      transform: translate3d(0, 2000px, 0);
    }
}
  .bounceOutDown {
    -webkit-animation-name: bounceOutDown;
    animation-name: bounceOutDown;
  }
@-moz-keyframes wobble {
    0% {
      transform: none;
    }
    15% {
      transform: translate3d(-5%, 0, 0);
    }
    30% {
      transform: translate3d(5%, 0, 0);
    }
    45% {
      transform: translate3d(-2.5%, 0, 0);
    }
    60% {
      transform: translate3d(2.5%, 0, 0);
    }
    75% {
      transform: translate3d(-0.5%, 0, 0);
    }
    100% {
      transform: none;
    }
}
@-webkit-keyframes wobble {
    0% {
      transform: none;
    }
    15% {
      transform: translate3d(-5%, 0, 0);
    }
    30% {
      transform: translate3d(5%, 0, 0);
    }
    45% {
      transform: translate3d(-2.5%, 0, 0);
    }
    60% {
      transform: translate3d(2.5%, 0, 0);
    }
    75% {
      transform: translate3d(-0.5%, 0, 0);
    }
    100% {
      transform: none;
    }
}
@-o-keyframes wobble {
    0% {
      transform: none;
    }
    15% {
      transform: translate3d(-5%, 0, 0);
    }
    30% {
      transform: translate3d(5%, 0, 0);
    }
    45% {
      transform: translate3d(-2.5%, 0, 0);
    }
    60% {
      transform: translate3d(2.5%, 0, 0);
    }
    75% {
      transform: translate3d(-0.5%, 0, 0);
    }
    100% {
      transform: none;
    }
}
@keyframes wobble {
    0% {
      transform: none;
    }
    15% {
      transform: translate3d(-5%, 0, 0);
    }
    30% {
      transform: translate3d(5%, 0, 0);
    }
    45% {
      transform: translate3d(-2.5%, 0, 0);
    }
    60% {
      transform: translate3d(2.5%, 0, 0);
    }
    75% {
      transform: translate3d(-0.5%, 0, 0);
    }
    100% {
      transform: none;
    }
}
@-moz-keyframes bounceOutDown {
    20% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
    40%, 45% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate3d(0, 2000px, 0);
      transform: translate3d(0, 2000px, 0);
    }
}
@-webkit-keyframes bounceOutDown {
    20% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
    40%, 45% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate3d(0, 2000px, 0);
      transform: translate3d(0, 2000px, 0);
    }
}
@-o-keyframes bounceOutDown {
    20% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
    40%, 45% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate3d(0, 2000px, 0);
      transform: translate3d(0, 2000px, 0);
    }
}
@keyframes bounceOutDown {
    20% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
    40%, 45% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate3d(0, 2000px, 0);
      transform: translate3d(0, 2000px, 0);
    }
}
  body {
    background: #fcfcfa;
  }
  main {
    position: relative;
    margin: 0 auto;
    color: #313233;
  }
  a {
    color: #313233;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 49%, #313233 50%);
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 49%, #313233 50%);
    background-image: -o-linear-gradient(top, rgba(0,0,0,0) 49%, #313233 50%);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 49%, #313233 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 85%;
    text-shadow: -2px 0 #fff, -1px 0 #fff, 1px 0 #fff, 2px 0 #fff;
  }
  .content-box {
    width: 50%;
    height: 100%;
    background: #dedede url("../static/bg3.jpg");
    background-position: left top;
    background-attachment: fixed;
    padding-top: 3rem;
    text-align: right;
  }
  .content-box section {
    display: inline-block;
    width: 450px;
    min-width: 400px;
    margin: 0 2rem 3rem 0.5rem;
    padding: 2rem 1.236rem 2rem 3.236rem;
    background: #fcfcfa;
    border-radius: 2px;
    text-align: left;
    vertical-align: top;
    float: right;
  }
  .content-box section.desc-box {
    padding-top: 1.5rem;
  }
  .content-box section.desc-box h1 {
    margin-left: -3.236rem;
    text-align: center;
  }
  .content-box section.desc-box h2 {
    margin-bottom: 1rem;
  }
  .content-box section.desc-box p {
    margin-bottom: 0.5rem;
  }
  .content-box section.sample-box h2 {
    font-weight: 500;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  .content-box section.sample-box h2 a {
    color: #1374da;
    background-image: none;
  }
  .content-box section.sample-box blockquote {
    margin-bottom: 2rem;
    font-family: Georgia, serif;
  }
  .content-box section.sample-box cite {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: block;
    margin-bottom: 0.25rem;
    font-style: normal;
    font-size: 0.8em;
    color: #96999b;
  }
  .content-box ul {
    list-style-type: square;
    list-style-position: inside;
    color: #96999b;
  }
  .content-box ul strong {
    color: #313233;
  }
  .content-box li {
    margin-bottom: 0.15rem;
  }
  .cta-box {
    position: fixed;
    top: 30%;
    right: 0;
    width: 50%;
    height: 100%;
  }
  .cta-box fieldset {
    margin: 0 0 0 3rem;
  }
  .cta-box legend {
    margin-bottom: 0.5rem;
  }
  .cta-box form {
    position: relative;
  }
  .cta-box form .error-msg {
    position: absolute;
    top: 3rem;
    left: 0;
    display: block;
    opacity: 0;
    color: #ff2a2a;
  }
  .cta-box form.empty,
  .cta-box form.invalid {
    -webkit-animation: wobble 400ms ease-in-out;
    -moz-animation: wobble 400ms ease-in-out;
    -o-animation: wobble 400ms ease-in-out;
    animation: wobble 400ms ease-in-out;
  }
  .cta-box form.invalid .error-msg.empty {
    opacity: 0;
  }
  .cta-box form.invalid .error-msg.invalid {
    opacity: 1;
  }
  .cta-box form.empty .error-msg.empty {
    opacity: 1;
  }
  .cta-box form.empty .error-msg.invalid {
    opacity: 0;
  }
  .cta-box #subscribe-box {
    position: relative;
    z-index: 100;
  }
  .cta-box #subscribe-box.hide {
    -webkit-animation-name: bounceOutDown;
    -moz-animation-name: bounceOutDown;
    -o-animation-name: bounceOutDown;
    animation-name: bounceOutDown;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .cta-box #thanks-box {
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    top: -10%;
    left: 0;
    padding-left: 3rem;
  }
  .cta-box #thanks-box.show {
    opacity: 1;
  }
  .cta-box #thanks-box h4 {
    font-size: 16px;
    font-weight: 600;
    color: #ff9800;
  }
  .cta-box #thanks-box hr {
    display: block;
    height: 1px;
    width: 400px;
    background-color: #d1d1d1;
    margin: 1rem 0;
  }
  .cta-box #thanks-box figure {
    display: inline-block;
    width: 360px;
  }
  .cta-box #thanks-box figure img {
    float: left;
  }
  .cta-box #thanks-box figure figcaption {
    float: right;
    margin: 2.5rem 1rem;
    width: 200px;
  }
  .cta-box #thanks-box .btn.twitter {
    position: initial;
    margin: 1rem 0;
    display: block;
    border-radius: 3px;
    width: 240px;
    background-color: #55acee;
    color: #fff;
    text-shadow: none;
    text-decoration: none;
    border: 0;
    background-image: none;
    height: 40px;
    padding: 0;
    text-align: center;
    font-size: 17px;
    line-height: 2.2;
  }
  .cta-box #thanks-box .btn.twitter:hover {
    box-shadow: none;
  }
  .cta-box #thanks-box .btn.twitter:active {
    box-shadow: none;
  }
  .cta-box .btn {
    position: absolute;
    top: 0;
    left: 240px;
    height: 42px;
    width: 110px;
    padding: 8px 18px 10px;
    border-radius: 3px;
    background-color: #ffde00;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 1;
    font-size: 1rem;
    color: #313233;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
  }
  .cta-box .btn:focus {
    outline: 2px solid #fff;
    outline-offset: -4px;
  }
  .cta-box .btn:hover {
    background: #fada00;
    outline: none;
  }
  .cta-box .btn:active {
    box-shadow: inset -2px 2px 1px #d9bd00;
    outline: none;
  }
  .cta-box .btn .label {
    vertical-align: 1px;
  }
  .cta-box .btn .loader {
    display: none;
  }
  .cta-box .btn .loader svg {
    max-height: 100%;
  }
  .cta-box .btn.processing {
    padding: 0 0 1px 0;
  }
  .cta-box .btn.processing .label {
    display: none;
  }
  .cta-box .btn.processing .loader {
    display: block;
  }
  .cta-box input + label {
    position: absolute;
    top: 0.25rem;
    left: 0.5rem;
    z-index: 10;
    color: #96999b;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.3px;
  }
  .cta-box input:valid + label {
    color: #27ae60;
  }
  .cta-box input[type='email'] {
    position: absolute;
    top: 0;
    border: 2px solid #fada00;
    height: 42px;
    border-right: 0;
    margin-right: -3px;
    width: 250px;
    padding: 0.5rem;
    padding-bottom: 0;
    background: #fcfcfa;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #fff;
    line-height: 0;
  }
  .cta-box input[type='email']:focus {
    outline: none;
  }
  footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0 1rem;
    text-align: right;
  }
  footer p {
    border-top: 1px solid #dedede;
    padding: 1rem 0;
    font-size: 80%;
    margin-bottom: 0;
  }
  .loader {
    margin: 0 auto;
    font-size: 3px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255,255,255,0.2);
    border-right: 1.1em solid rgba(255,255,255,0.2);
    border-bottom: 1.1em solid rgba(255,255,255,0.2);
    border-left: 1.1em solid #fff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }
  .loader,
  .loader:after {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
@-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
@-moz-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
@-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
@-o-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
  .pos-rel {
    position: relative;
  }
  .pos-fix {
    position: fixed;
  }
  .padded {
    padding: 1.5rem 3rem;
  }
  .h-100p {
    height: 100%;
  }
  .w-50p {
    width: 50%;
  }
  .lead {
    font-size: 1.15em;
  }
  .bold {
    font-weight: 600;
  }
  .muted {
    color: #96999b;
  }
}
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important;
  }
}
@media screen and (max-width: 950px) {
  main {
    padding-bottom: 5rem;
  }
  .content-box {
    width: 100%;
    background: #dedede url("../static/bg3-m.jpg");
    background-position: left top;
    background-size: contain;
    background-attachment: fixed;
    padding-top: 1px;
  }
  .content-box section {
    display: block;
    max-width: 400px;
    min-width: initial;
    width: 95%;
    margin: 1rem auto 0;
    padding: 2rem 1.25rem;
    background: #fcfcfa;
    border-radius: 2px;
    float: none;
  }
  .content-box section.faq-box {
    margin-bottom: 3rem;
  }
  .content-box section.desc-box h1 {
    margin: 0 0 2rem 0;
  }
  .content-box section.desc-box h2 {
    margin-bottom: 2rem;
    text-align: center;
  }
  .content-box section.desc-box p {
    margin-bottom: 0.5rem;
  }
  .content-box ul {
    list-style-type: square;
    list-style-position: inside;
    color: #96999b;
  }
  .content-box ul strong {
    color: #313233;
  }
  .content-box li {
    margin-bottom: 0.15rem;
  }
  .cta-box {
    position: fixed;
    bottom: 0;
    top: initial;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fcfcfa;
    height: 110px;
    padding: 1rem 0;
  }
  .cta-box:before {
    content: ' ';
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background: #ececd3;
  }
  .cta-box fieldset {
    margin: 0;
    padding: 0 0.5rem;
    position: relative;
    display: block;
    margin: 0 auto;
    height: 100px;
    width: 340px;
  }
  .cta-box fieldset[disabled] input {
    background-color: #ffef7f;
  }
  .cta-box fieldset .error-msg {
    top: 42px;
  }
  .cta-box legend {
    margin-bottom: 0.25rem;
  }
  .cta-box input[type='email'] {
    width: auto;
    min-width: 100px;
    width: 66%;
    padding-top: 0.5rem;
  }
  .cta-box input[type='email'] + label {
    top: 0.25rem;
    letter-spacing: 0;
  }
  .cta-box .btn {
    left: 65%;
    min-width: 80px;
    padding: 8px 12px 10px;
  }
  .cta-box #thanks-box {
    top: 15px;
  }
  .hide-mobile {
    display: none !important;
  }
  footer {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */