@media screen {
  /* sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
  pre,
  textarea {
    overflow: auto;
  }
  [hidden],
  audio:not([controls]),
  template {
    display: none;
  }
  details,
  main,
  summary {
    display: block;
  }
  input[type=number] {
    width: auto;
  }
  input[type=search] {
    -webkit-appearance: textfield;
  }
  input[type=search]::-webkit-search-cancel-button,
  input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  progress {
    display: inline-block;
  }
  small {
    font-size: 80%;
  }
  textarea {
    resize: vertical;
  }
  [unselectable] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  *,
  ::after,
  ::before {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
  }
  * {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  ::after,
  ::before {
    text-decoration: inherit;
    vertical-align: inherit;
  }
  :root {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: default;
    font: 400 16px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
  }
  a {
    text-decoration: underline;
  }
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  button,
  input,
  select,
  textarea {
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    min-height: 1.5em;
  }
  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace;
  }
  nav ol,
  nav ul {
    list-style: none;
  }
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  select::-ms-expand {
    display: none;
  }
  select::-ms-value {
    color: currentColor;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  ::-moz-selection {
    background-color: #b3d4fc;
    text-shadow: none;
  }
  ::selection {
    background-color: #b3d4fc;
    text-shadow: none;
  }
  h1,
  h2,
  h3,
  h4,
  h6,
  p,
  cite,
  blockquote {
    margin: 0;
    padding: 0;
    line-height: inherit;
    color: inherit;
  }
  ul,
  ol {
    list-style: none;
  }
  strong,
  bold {
    font-weight: 600;
  }
  body {
    font: 400 0.9375rem/1.5 Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  h1 {
    line-height: 1;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  h2 {
    line-height: 1.25;
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }
  p {
    margin-bottom: 1rem;
  }
  p+h1,
  p+h2,
  p+h3 {
    margin-top: 2rem;
  }
  body {
    background: #fcfcfa;
  }
  main {
    position: relative;
    margin: 0 auto;
    color: #313131;
  }
  a {
    color: #313131;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 49%, #313131 50%);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 49%, #313131 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 85%;
    text-shadow: -2px 0 #fff, -1px 0 #fff, 1px 0 #fff, 2px 0 #fff;
  }
  .content-box {
    width: 50%;
    height: 100%;
    background: url("../static/bg3.jpg");
    background-position: left top;
    background-attachment: fixed;
    padding-top: 3rem;
    text-align: right;
  }
  .content-box section {
    display: inline-block;
    width: 450px;
    min-width: 400px;
    margin: 0 2rem 3rem 0.5rem;
    padding: 2rem 1.236rem 2rem 3.236rem;
    background: #fcfcfa;
    text-shadow: 0 1px 1px #fff;
    border-radius: 2px;
    text-align: left;
  }
  .content-box section.desc-box h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  .content-box section.desc-box h2 {
    margin-bottom: 2rem;
  }
  .content-box section.desc-box p {
    margin-bottom: 0.5rem;
  }
  .content-box ul {
    list-style-type: square;
    list-style-position: inside;
    color: #989898;
  }
  .content-box ul strong {
    color: #313131;
  }
  .content-box li {
    margin-bottom: 0.15rem;
  }
  .cta-box {
    position: fixed;
    top: 30%;
    right: 0;
    width: 50%;
    height: 100%;
  }
  .cta-box fieldset {
    margin: 0 0 0 3rem;
  }
  .cta-box legend {
    margin-bottom: 0.5rem;
  }
  .cta-box .btn {
    position: absolute;
    top: 0;
    left: 240px;
    height: 42px;
    padding: 8px 18px 10px;
    border-radius: 3px;
    background-color: #ffde00;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 1;
    font-size: 1rem;
    text-shadow: 0 0px 1px #fff;
    color: #313131;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
  }
  .cta-box .btn:focus {
    outline: 2px solid #fff;
    outline-offset: -4px;
  }
  .cta-box .btn:hover {
    background: #fada00;
    outline: none;
  }
  .cta-box .btn:active {
    box-shadow: inset -2px 2px 1px #d9bd00;
    outline: none;
  }
  .cta-box .btn .label {
    vertical-align: 1px;
  }
  .cta-box input + label {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 10;
    color: #989898;
    letter-spacing: 0.3px;
    will-change: transform, font-size, font-weight, text-transform;
    transition: 0.15s ease-out;
  }
  .cta-box input:focus + label,
  .cta-box input:invalid + label,
  .cta-box input:valid + label {
    transform: translateY(-5px);
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .cta-box input:valid + label {
    color: #27ae60;
  }
  .cta-box input + label:after {
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }
  .cta-box input:valid + label:after {
    opacity: 1;
    content: '✓';
    color: #fff;
    margin-left: 2px;
    background-color: #27ae60;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    text-align: center;
    font-weight: 200;
  }
  .cta-box input[type='email'] {
    position: absolute;
    top: 0;
    border: 2px solid #fada00;
    height: 42px;
    border-right: 0;
    margin-right: -3px;
    width: 250px;
    padding: 0.5rem;
    padding-bottom: 0;
    background: #fcfcfa;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #fff;
  }
  .cta-box input[type='email']:focus {
    outline: none;
  }
  footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0 1rem;
    text-align: right;
  }
  footer p {
    border-top: 1px solid #dedede;
    padding: 1rem 0;
    font-size: 80%;
    margin-bottom: 0;
  }
  .pos-rel {
    position: relative;
  }
  .pos-fix {
    position: fixed;
  }
  .padded {
    padding: 1.5rem 3rem;
  }
  .h-100p {
    height: 100%;
  }
  .w-50p {
    width: 50%;
  }
  .lead {
    font-size: 1.15em;
  }
  .bold {
    font-weight: 600;
  }
}
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important;
  }
}
@media screen and (max-width: 950px) {
  main {
    padding-bottom: 5rem;
  }
  .content-box {
    width: 100%;
    background: url("../static/bg3.jpg");
    background-position: left top;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 1px;
  }
  .content-box section {
    display: block;
    max-width: 400px;
    min-width: initial;
    width: 95%;
    margin: 3rem auto;
    padding: 2rem 1.25rem;
    background: #fcfcfa;
    text-shadow: 0 1px 1px #fff;
    border-radius: 2px;
  }
  .content-box section.desc-box h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  .content-box section.desc-box h2 {
    margin-bottom: 2rem;
  }
  .content-box section.desc-box p {
    margin-bottom: 0.5rem;
  }
  .content-box ul {
    list-style-type: square;
    list-style-position: inside;
    color: #989898;
  }
  .content-box ul strong {
    color: #313131;
  }
  .content-box li {
    margin-bottom: 0.15rem;
  }
  .cta-box {
    position: fixed;
    bottom: 0;
    top: initial;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fcfcfa;
    height: 100px;
    padding: 1rem 0;
    box-shadow: 0 -3px 2px -2px #dedede;
  }
  .cta-box:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.25;
    height: 3px;
    background: #dedede;
  }
  .cta-box fieldset {
    margin: 0;
    padding: 0 0.5rem;
    position: relative;
    display: block;
    margin: 0 auto;
    height: 100px;
    width: 340px;
  }
  .cta-box legend {
    margin-bottom: 0.25rem;
  }
  .cta-box input[type='email'] {
    width: auto;
    min-width: 100px;
    width: 66%;
  }
  .cta-box .btn {
    left: 65%;
    min-width: 100px;
  }
  footer {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */