@-moz-keyframes shake {
    0,100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0)
    }

    20% {
        -webkit-transform: translateX(8px);
        -moz-transform: translateX(8px);
        -ms-transform: translateX(8px);
        transform: translateX(8px)
    }

    40% {
        -webkit-transform: translateX(-6px);
        -moz-transform: translateX(-6px);
        -ms-transform: translateX(-6px);
        transform: translateX(-6px)
    }

    60% {
        -webkit-transform: translateX(4px);
        -moz-transform: translateX(4px);
        -ms-transform: translateX(4px);
        transform: translateX(4px)
    }

    80% {
        -webkit-transform: translateX(-2px);
        -moz-transform: translateX(-2px);
        -ms-transform: translateX(-2px);
        transform: translateX(-2px)
    }
}

@-webkit-keyframes shake {
    0,100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0)
    }

    20% {
        -webkit-transform: translateX(8px);
        -moz-transform: translateX(8px);
        -ms-transform: translateX(8px);
        transform: translateX(8px)
    }

    40% {
        -webkit-transform: translateX(-6px);
        -moz-transform: translateX(-6px);
        -ms-transform: translateX(-6px);
        transform: translateX(-6px)
    }

    60% {
        -webkit-transform: translateX(4px);
        -moz-transform: translateX(4px);
        -ms-transform: translateX(4px);
        transform: translateX(4px)
    }

    80% {
        -webkit-transform: translateX(-2px);
        -moz-transform: translateX(-2px);
        -ms-transform: translateX(-2px);
        transform: translateX(-2px)
    }
}

@-o-keyframes shake {
    0,100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0)
    }

    20% {
        -webkit-transform: translateX(8px);
        -moz-transform: translateX(8px);
        -ms-transform: translateX(8px);
        transform: translateX(8px)
    }

    40% {
        -webkit-transform: translateX(-6px);
        -moz-transform: translateX(-6px);
        -ms-transform: translateX(-6px);
        transform: translateX(-6px)
    }

    60% {
        -webkit-transform: translateX(4px);
        -moz-transform: translateX(4px);
        -ms-transform: translateX(4px);
        transform: translateX(4px)
    }

    80% {
        -webkit-transform: translateX(-2px);
        -moz-transform: translateX(-2px);
        -ms-transform: translateX(-2px);
        transform: translateX(-2px)
    }
}

@-ms-keyframes shake {
    0,100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0)
    }

    20% {
        -webkit-transform: translateX(8px);
        -moz-transform: translateX(8px);
        -ms-transform: translateX(8px);
        transform: translateX(8px)
    }

    40% {
        -webkit-transform: translateX(-6px);
        -moz-transform: translateX(-6px);
        -ms-transform: translateX(-6px);
        transform: translateX(-6px)
    }

    60% {
        -webkit-transform: translateX(4px);
        -moz-transform: translateX(4px);
        -ms-transform: translateX(4px);
        transform: translateX(4px)
    }

    80% {
        -webkit-transform: translateX(-2px);
        -moz-transform: translateX(-2px);
        -ms-transform: translateX(-2px);
        transform: translateX(-2px)
    }
}

@keyframes shake {
    0,100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0)
    }

    20% {
        -webkit-transform: translateX(8px);
        -moz-transform: translateX(8px);
        -ms-transform: translateX(8px);
        transform: translateX(8px)
    }

    40% {
        -webkit-transform: translateX(-6px);
        -moz-transform: translateX(-6px);
        -ms-transform: translateX(-6px);
        transform: translateX(-6px)
    }

    60% {
        -webkit-transform: translateX(4px);
        -moz-transform: translateX(4px);
        -ms-transform: translateX(4px);
        transform: translateX(4px)
    }

    80% {
        -webkit-transform: translateX(-2px);
        -moz-transform: translateX(-2px);
        -ms-transform: translateX(-2px);
        transform: translateX(-2px)
    }
}

// Wobble
@keyframes wobble {
  0% {
    transform: none;
  }

  15% {
    transform: translate3d(-5%, 0, 0);
  }

  30% {
    transform: translate3d(5%, 0, 0);
  }

  45% {
    transform: translate3d(-2.5%, 0, 0);
  }

  60% {
    transform: translate3d(2.5%, 0, 0);
  }

  75% {
    transform: translate3d(-.5%, 0, 0);
  }

  100% {
    transform: none;
  }
}
