body
  background bg-color


main
  position relative
  margin 0 auto
  color text-color

a
  color link-color

.content-box
  background: url(../static/bg3.jpg);
  background-position left top
  background-attachment: fixed;
  padding-top: 3rem;
  section
    margin 0 3rem 3rem 31%
    padding 2rem 1.236rem 2rem 3.236rem
    background bg-color
    text-shadow 0 1px 1px #FFF
    border-radius 2px
    &.desc-box
      h1
        margin-bottom 1rem
        font-size 3rem
      h2
        margin-bottom 2rem
      p
        margin-bottom .5rem
  ul
    list-style-type square
    list-style-position inside
    color muted-color
    strong
      color text-color
  li
    margin-bottom .15rem

.cta-box
  position: fixed;
  top: 30%
  right: 0;
  fieldset
    margin 0 0 0 3rem
  legend
    margin-bottom .5rem

  .btn
    position absolute
    top 0
    left 240px
    height 42px
    padding 8px 18px 10px
    border-radius: 3px;
    background-color: active-color
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 1;
    font-size: 1rem;
    text-shadow: 0 0px 1px #FFF
    color: text-color
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left 0
    &:focus
      outline: 2px solid #FFF;
      outline-offset: -4px;
    &:hover
      background darken(active-color, 2%)
      outline none
    &:active
      box-shadow: inset -2px 2px 1px darken(active-color, 15%)
      outline: none;
    .label
      vertical-align 1px

  input + label
    position: absolute
    top: .5rem
    left: .5rem
    z-index: 10
    color muted-color
    letter-spacing .3px
    will-change transform, font-size, font-weight, text-transform
    transition .15s ease-out

  input:focus + label,
  input:invalid + label,
  input:valid + label
    transform translateY(-5px)
    font-size 9px
    text-transform uppercase
    font-weight 600

  input:valid + label
    color valid-color
  input + label:after
    opacity 0
    transition opacity .2s ease-out
  input:valid + label:after
    opacity 1
    content: '✓';
    color: #FFF;
    margin-left: 2px;
    background-color: #27AE60;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    text-align: center;
    font-weight: 200;

  input[type='email']
    position absolute
    top 0
    border: 2px solid darken(active-color, 2%)
    height: 42px
    border-right: 0;
    margin-right: -3px;
    width: 250px;
    padding: .5rem;
    padding-bottom 0
    background bg-color
    border-top-left-radius: 3px
    border-bottom-left-radius: 3px
    background #FFF
    &:focus
      outline none

footer
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 1rem;
  text-align: right;
  p
    border-top: 1px solid #DEDEDE;
    padding: 1rem 0;
    font-size: 80%;
    margin-bottom 0
