@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: local('Satisfy'), url(http://fonts.gstatic.com/l/font?kit=tcv0Aibm9As-KQnUe452nwHXwqeCHOyb2YcW-2ByC3g&skey=b02738efc6e9caf3) format('truetype');
}
