/* FONT */
body-font-size = .9375rem /* 15px by default */
body-stack = Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif
serif-stack = Georgia, serif


/* COLORS */
text-color = #313233
bg-color = #FCFCFA
link-color = text-color
muted-color = lighten(text-color, 50%)
active-color = #FFDE00
// Green to tell form fields are valid
valid-color = #27ae60

/* BREAKPOINTS */
mobile-breakpoint = 950px
