@media screen
    @import 'inc/reset.styl'
    @import 'inc/variables.styl'
    @import 'inc/typography.styl'
    @import 'inc/animations.styl'
    @import 'inc/basics.styl'
    @import 'inc/navbar.styl'
    @import 'inc/footer.styl'
    @import 'inc/helper.styl'
