extends _base.jade


block title
  | Fullweb Weekly &middot; The newsletter for fullstack developers


block meta
  link(rel="canonical", href="http://fullweb.io")
  // link(rel='stylesheet', href='css/index.css')
  style
    include:stylus css/index.styl


block scripts
  script(src='zepto.min.js')
  script.
    Zepto(function($) {
      // Grab the protagonists
      var $F = $('#newsletter-form');
      var $E = $('#user-email').get(0);
      var $B = $('#subscribe-btn');
      var $SUBS_BOX = $('#subscribe-box')
      // Handy validation function for email value
      var validateEmail = function (email_str) {
        return /[\w+-_]+@[\w.]+\.[\w|.]{2,}/i.test(email_str)
      };
      // Form submit event interception + processing
      $F.on('submit', function(ev) {
        ev.preventDefault();
        var is_valid = validateEmail($E.value);
        // Verify for empty state
        if (!$E.value.length) {
          $F.get(0).className = 'empty';
          $E.focus();
          setTimeout(function() {
            $F.get(0).className = '';
          }, 5000);
        }
        // Verify for invalid email syntax state
        else if (!is_valid) {
          $F.get(0).className = 'invalid';
          $E.focus();
          setTimeout(function() {
            $F.get(0).className = '';
          }, 5000);
        }
        // Subscribe user
        else {
          $B.get(0).className = 'btn processing';
          $SUBS_BOX.disabled = 'disabled';
          $('#subscribe-box legend').text('Talking to a computer...');
          $.ajax({
            type: 'get',
            url: "//newsletter.us11.list-manage.com/subscribe/post-json?u=8e9d09ec89c0c4ededef3beab&id=b98e776907&c=?",
            data: $F.serialize(),
            dataType: 'json',
            cache: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data, xhr, status) {
              console.log(data, xhr, status, 'successssssssssssss');
              if (data && data.result === 'success') {
                $SUBS_BOX.get(0).className = 'hide'
                setTimeout(function() {
                  $THANKS_BOX = $('#thanks-box');
                  $THANKS_BOX.get(0).style.opacity = '';
                  $THANKS_BOX.get(0).className = 'show';
                }, 500);
              }
              else {
              }
              $B.get(0).className = 'btn';
              $SUBS_BOX.disabled = '';
              $('#subscribe-box legend').text('Join 898 fullstack developers:');
              $E.value = ''
            }
          });
        }
      });
    });


block content
    main(itemscope, itemtype="http://schema.org/WebPage")
      meta(itemprop='specialty', content='Full-stack developer')
      meta(itemprop='specialty', content='Web development')
      meta(itemprop='specialty', content='DevOps')
      meta(itemprop='specialty', content='User Experience')

      article.content-box

        section.desc-box(itemprop='mainContentOfPage')
          h1(itemprop="publisher", itemscope)
            meta(itemprop="name", content="Fullweb Newsletter")
            img(src='/static/fullweb-logo.svg', itemprop='primaryImageOfPage', title='Fullweb Newsletter', width='100', height='141')
          h2(itemprop='about') The newsletter for fullstack&nbsp;developers.
          p The 5 best links every week about:
          ul
            li
              strong Web Development
            li
              strong Backend Development
            li
              strong DevOps and Automation
            li
              strong User Experience

        section.sample-box(itemprop='workExample')
          h1 Sample Issue
          h2
            a(href='https://github.com/spotify/dh-virtualenv', target='_blank') Better Python deployments with dh-virtualenv
          blockquote
            cite github.com
            | A good alternative to using Git for deployments.
            br
            | It combines the power of Debian packaging with the sandboxed nature of virtualenvs.

          h2
            a(href='https://realpython.com/blog/python/asynchronous-tasks-with-django-and-celery/', target='_blank') Asynchronous tasks with Django and Celery
          blockquote
            cite realpython.com
            | A good introduction to using Celery with Django.
            br
            | Including periodic, local and remote tasks.
          h2
            a(href='http://chimera.labs.oreilly.com/books/1230000000545/ch12.html', target='_blank') Understanding HTTP 2.0
          blockquote
            cite.muted oreilly.com
            | A chapter from the excellent “High Performance Browser Networking” from Oreilly Media.
          h2
            a(href='http://www.calltoidea.com', target='_blank') Curated and classified list of UI pattern
          blockquote
            cite.muted calltoidea.com
            | A high quality catalog of UI pattern from the well-designed web. 
            | Login forms, calendars, footers, pop-ups, pricing tables, etc.
          h2 
            a(href='https://github.com/mailgun/godebug', target='_blank') Finally a good debugger for Go
          blockquote
            cite.muted github.com
            | A real debugger for Go from the team at Mailgun. 
            | Set breakpoints, see stacktrace, list context. 
            | +1700 stars on Github so far.

        section.faq-box
          h1 F.A.Q.
          h2 What is Fullweb?
          p Fullweb is a weekly newsletter. It gives you the best 5 links every week about Backend, Web Frontend, DevOps and User Experience.
          h2 Who need to read it?
          p Fullweb primarily targets Full-Stack Developers, and anybody who need to stay relevant on a wide scope of technologies.
          p Fullweb is also read by non-tech people, working in tech environment, who want to acquire a good general knowledge on what the tech world is about today.
          h2 Where are the links curated from?
          p The links are curated from social sites like HN, DN, Reddit, Quora, tech blogs like TechCrunch, PandoDaily, and also other newsletters and podcasts.
          h2 When do I receive the links?
          p Every Tuesday 8am.
          h2 Is it free?
          p Yes.
          h2 Can I unsubscribe at any time?
          p Yes. Every email we send contains a link to unsubscribe.
          h2 How can I send feedback?
          p Click 
            a(href='https://fullweb.typeform.com/to/JGSNQ8', target='_blank') this link
            |  to see our feedback form.


      aside.cta-box
        fieldset#subscribe-box
          legend Join 898 fullstack developers:
          form#newsletter-form(method='post', action="//newsletter.us11.list-manage.com/subscribe/post?u=8e9d09ec89c0c4ededef3beab&id=b98e776907&c=?", novalidate)
            input#user-email(type="email", placeholder="", x-autocompletetype="email", name='EMAIL', autofocus, tabindex='1', spellcheck='false', required, pattern='[\\w+-_]+@[\\w.]+\\.[\\w|.]{2,}')
            label(for='user-email') Email
            div(style="position: absolute; left: -5000px;")
             input(type="text", name="b_8e9d09ec89c0c4ededef3beab_b98e776907", tabindex="-1", value="")
            button#subscribe-btn(type="submit", class="btn", tabindex='2')
              span.label Subscribe
              span.loader Subscribing...
            br
            span.error-msg.empty We need an email up here
            span.error-msg.invalid Hmm, this doesn&rsquo;t look like an email
        section#thanks-box(style='opacity:0')
          h4 Thanks for subscribing!  
          p We just sent you a confirmation email.
          hr.hide-mobile
          p.hide-mobile.bold Let the world know you subscribed to this awesome newsletter!
          p.hide-mobile 
            a.btn.twitter(href='https://twitter.com/intent/tweet?url=http://fullweb.io&via=fullwebio&text=I%20just%20subscribed%20to%20Fullweb%20Weekly,%20the%20newsletter%20for%20%23fullstack%20%23developer', target='_blank')
              | Tweet this Page
          figure.hide-mobile
            figcaption.muted Scan with Wechat to share
              br
              | on your Moments
            img(src='/static/fullweb_thanks.gif', height='120', width='120')


      footer.w-50p
        p
          a(href='http://fullweb.io/hn-comments/') HN Comments
          |  &middot; 
          a(href='https://twitter.com/fullwebio', target='_blank') Twitter Feed
          |  &middot; 
          a(href='https://www.facebook.com/fullwebio', target='_blank') Facebook Page
          |  &middot; 
          a(href='http://us11.campaign-archive2.com/home/?u=8e9d09ec89c0c4ededef3beab&id=b98e776907', target='_blank') Archives 
          |  &middot;  
          a(href='/humans.txt', target='_blank') Credits
          span.muted &nbsp; &copy; 2015
