extends _base.jade


block title
    | Fullweb &middot; Newsletter for Fullstack Engineers


block meta
    link(rel="canonical", href="http://fullweb.io")
    link(rel="stylesheet", href="css/index.css")


block content
    // Use http://schema.org tags to annotate what your page is about,
    // Google+, Google Search and other search engines use this to know
    // what your page is about.
    main(itemscope, itemtype="http://schema.org/WebPage")
      meta(itemprop='specialty', content='Full-stack developer')
      meta(itemprop='specialty', content='Web development')
      meta(itemprop='specialty', content='Tech Entrepreneurship')
      meta(itemprop='specialty', content='DevOps')

      article.content-box

        section.desc-box(itemprop='mainContentOfPage')
          h1(itemprop="publisher", itemscope, itemtype="http://schema.org/Organization")
            span(itemprop="name") Fullweb
          h2(itemprop='about') The newsletter for fullstack engineers.
          p The 5 best links every week, from top sources, about:
          ul
            li
              strong Web Frontend 
            li
              strong Backend Development
            li
              strong DevOps and Automation
            li
              strong User Experience
            li
              strong Tech Entrepreneurship

        section.sample-box(itemprop='workExample')
          h1 Sample Issue
          h2
            a(href='https://www.quora.com/Why-did-Quora-choose-Python-for-its-development/answer/Adam-DAngelo', target='_blank') Quora CEO on Why did Quora choose Python for its development? &raquo;
          blockquote
            cite quora.com
            | We were sure we didn't want to use PHP.
          h2
            a(href='http://highscalability.com/blog/2015/3/16/how-and-why-swiftype-moved-from-ec2-to-real-hardware.html', target='_blank') How And Why Swiftype Moved From EC2 To Real Hardware &raquo;
          blockquote
            cite highscalability.com
            | This is a guest post by Oleksiy Kovyrin, Head of Technical Operations at Swiftype. Swiftype currently powers search on over 100,000 websites and serves more than 1 billion queries every month.
          h2
            a(href='http://bitsofco.de/2015/the-accessibility-cheatsheet', target='_blank') The Web Accessibility Cheatsheet &raquo;
          blockquote
            cite.muted bitsofco.de
            | We all know that accessibility is important. The problem is, it is not always clear what exactly we can do to make our sites more accessible.
          h2
            a(href='https://blog.cloudflare.com/how-to-receive-a-million-packets/', target='_blank') How to receive a million packets per second &raquo;
          blockquote
            cite.muted blog.cloudflare.com
            | On Linux, how hard is it to write a program that receives 1 million UDP packets per second?
          h2
            a(href='http://www.nngroup.com/articles/low-contrast/', target='_blank') Low-Contrast Text Is Not the Answer &raquo;
          blockquote
            cite.muted www.nngroup.com
            | Low-contrast text may be trendy, but it is also illegible, undiscoverable, and inaccessible. Instead, consider more usable alternatives.

        section.faq-box
          h1 F.A.Q.
          h2 What is Fullweb?
          p Fullweb is a weekly newsletter. It gives you the best 5 links every week about Backend, Web Frontend, DevOps, User Experience and Entrepreneurship.
          h2 Who need to read it?
          p Fullweb primarily targets Full-Stack Developers and Engineers, and anybody who need to stay relevant on a wide scope of technologies.
          p Fullweb is also read by non-tech people, working in tech environment, who want to acquire a good general knowledge on what the tech world is about today.
          h2 Where are the links curated from?
          p The links are curated from social sites like HN, DN, Reddit, Quora, tech blogs like TechCrunch, PandoDaily, and also other newsletters and podcasts.
          h2 When do I receive the links?
          p Every Tuesday 9am.
          h2 Is it free?
          p Yes.
          h2 Can I unsubscribe at any time?
          p Yes. Every email we send contains a link to unsubscribe.
          h2 How can I send feedback?
          p Click 
            a(href='#') this link
            |  to see our contact form.

      aside.cta-box
        fieldset.v-center
          legend Join 254 subscribers:
          form.pos-rel(method='post', action="//newsletter.us11.list-manage.com/subscribe/post?u=8e9d09ec89c0c4ededef3beab&amp;id=b98e776907")
            input#user-email(type="email", placeholder="", name='EMAIL', autofocus, required, tabindex='1', spellcheck='false')
            label(for='user-email') Email
            div(style="position: absolute; left: -5000px;")
             input(type="text", name="b_8e9d09ec89c0c4ededef3beab_b98e776907", tabindex="-1", value="")
            button(type="submit", class="btn", tabindex='2', onclick="_gaq.push(['_trackEvent', 'Newsletter', 'subscribe']);")
              span.label Subscribe

      footer.w-50p
        p
          a(href='https://twitter.com/fullwebio', target='_blank') Twitter Feed
          |  &middot; 
          a(href='https://www.facebook.com/pages/Fullweb/520411174775602', target='_blank') Facebook Page
          |  &middot; 
          a(href='http://us11.campaign-archive1.com/feed?u=8e9d09ec89c0c4ededef3beab&id=b98e776907', target='_blank') RSS Feed
          |  &middot; 
          a(href='http://us11.campaign-archive2.com/home/?u=8e9d09ec89c0c4ededef3beab&id=b98e776907', target='_blank') Archives
          |  &middot; 
          a(href='/humans.txt', target='_blank') Credits
          |  &middot; 
          |  &copy; 2015
